

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    overflow-x: hidden;
    font-size: 18px;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(89, 100, 148);
}
.container{
    background-color: whitesmoke;
    padding: 4%;
}
.contentArea{

    position: absolute;
    top: 45%;
    padding-left: 10%;
    background-color: whitesmoke;
    width: 100vw;
}
.midArea{
    background-color:whitesmoke;
    padding-left: 10%;
    padding-bottom: 5%;
}
a{
    text-decoration: none;
    color: rgb(89, 100, 148);
}

h5{
    color: rgb(89, 100, 148);
}
.background {
    background: url("/bg.jpg")  no-repeat center center  fixed;
    height:50%;
    width: 100vw;
}
img{
    width: 100%;
    height: 100%;
}
button{
    color:rgb(89, 100, 148);
    border-radius: 20%;
    border: transparent;
    height: 100%;
}
a:focus{
    color:#EB0486;
    font-weight: bold;;
}
button:focus{
    background-color: #EB0486;
}
*:focus{
    outline-color: blue;
    box-shadow:0 0 10px #EB0486;
    border-color:blueviolet;
}




